<%= render "shared/page_title", title: "log in" %>


<!-- The main difference between the session form and the signup form is that we have no Session model, and hence no analogue for the @user variable.
This means that, in constructing the new session form, we have to give form_for slightly more information, in the case of sessions we need to
indicate the name of the resource and the corresponding URL -->
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :email %>
    </div>
    <div class="col-md-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :password %>
    </div>
    <div class="col-md-8">
      <%= f.password_field :password, class: "form-control", placeholder: "Enter a password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </div>
<% end %>
<div class="center colormatch">
  [ <%= link_to "Don't have an account? Sign up now!", signup_path %> ]
</div>
